body{
    margin:0;
    font-family:sans-serif;
    background:black;
    color:white;
    overflow:hidden;
    }
    
    /* Scene System */
    
    .scene{
    position:fixed;
    inset:0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    opacity:0;
    transition:1s;
    pointer-events:none;
    text-align:center;
    }
    
    .scene.active{
    opacity:1;
    pointer-events:auto;
    }
    
    /* Hacker intro */
    
    #hackScene{
    color:#00ff9c;
    font-family:monospace;
    }
    
    /* Card */
    
    .card{
    background:white;
    color:black;
    padding:30px;
    border-radius:15px;
    }
    
    .card input{
    padding:10px;
    margin-top:10px;
    }
    
    /* Envelope */
    
    #envelope{
    width:220px;
    cursor:pointer;
    animation:pulse 1.5s infinite;
    }
    
    @keyframes pulse{
    50%{transform:scale(1.1);}
    }
    
    /* Letter */
    
    .letter{
    width:90vw;
    max-width:600px;
    background:url("window.png") center/contain no-repeat;
    padding:120px 40px 60px 40px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    gap:15px;
    }
    
    #cat{
    width:200px;
    margin:15px;
    }
    
    .buttons img{
    width:110px;
    margin:10px;
    cursor:pointer;
    }
    
    /* Final */
    
    #finalText{
    display:none;
    max-width:420px;
    font-size:20px;
    line-height:1.5;
    background:rgba(255,240,240,0.85);
    padding:18px;
    border-radius:14px;
    text-align:center;
    margin-top:15px;
    box-shadow:0 0 20px rgba(255,150,180,0.4);
    animation:fadeIn 0.8s ease;
    }
    
    #countdown{
    margin-top:20px;
    font-size:20px;
    color:pink;
    }
    
    /* Particles */
    
    #particles div{
    position:fixed;
    width:6px;
    height:6px;
    background:pink;
    border-radius:50%;
    opacity:.7;
    animation:float 6s infinite linear;
    }
    
    @keyframes float{
    from{transform:translateY(100vh);}
    to{transform:translateY(-100vh);}
    }

@keyframes fadeIn {
    from {
        opacity:0;
        transform:translateY(15px);
    }
    to {
        opacity:1;
        transform:translateY(0);
    }
}